<div class="container dashboard">
	<h2 class="dashboard-welcome-note">Welcome to Hotel Management App</h2>

	<%= render 'search_form', keyword: '' %>

	<hr />

	<h1>Available Rooms</h1>

	<%= render 'rooms_card' %>
</div>
