<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Management</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-white">
      <a class="navbar-brand" href="/">
        <img class="brand-logo" src="/assets/logo.jpg" alt="">
      </a>

      <div class="form-inline">
        <% unless current_user.nil? %>
          <a class="navbar-menu pad-r0" href="/">Dashboard</a>
          <a class="navbar-menu pad-r0" href="/customers">Customers</a>
          <a class="navbar-menu" href="/booked_rooms">Bookings</a>
          <a class="btn btn-primary" href="/users/sign_out">Log Out</a>
        <% else %>
          <% if request.path=='/users/sign_in' %>
          <a class="btn btn-primary" href="/users/sign_up">Sign Up</a>
          <% else %>
          <a class="btn btn-primary" href="/users/sign_in">Sign In</a>
          <% end %>
        <% end %>
      </div>
    </nav>

    <div>
      <div class="web-bg">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
